.navBarButtons {
  float: left;
  display: flex;
  margin-top: 15px;
}

#navbar {
  margin-top: 20px;
  margin-left: 10px;
  color: white;
  text-shadow: -.5px 0 black, 0 .5px black, .5px 0 black, 0 -.5px black;
}
.sectionHeight {
  height: 100vh;
}

.clearFix::after{
  content: "";
  display: block;
  clear: both;
}

h4 {
  padding-left: 20px;
}

h2 {
  border-bottom: 5px;
  border-color: white;
  border-style: solid;

}

body {
  background: url(../images/pnw.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#introBox {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
}

#aboutBox {
  padding-top: 20px;
  padding-bottom: 20px;
}

.boxSection {
  background-color:rgba(24,46,32,0.3);
  margin-top: 80px;
  color: white;
  text-shadow: -.5px 0 black, 0 .5px black, .5px 0 black, 0 -.5px black;
  /* padding-top: 80px;
  padding-bottom: 80px; */
}

#nicole {
  font-size: 75px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.headshot {
  border: 10px;
  border-color: white;
  border-style: solid;
  float: left;
  margin-right: 20px;
}

p {
  float: left;
}
