.navBarButtons {
  float: left;
  display: flex;
  margin-top: 15px;
}

#navbar {
  margin-top: 20px;
  margin-left: 10px;
}
h4 {
  padding-left: 20px;
}

body {
  background-image: url(../images/pnw.jpg);
  background-size: cover;
}
